.encabezado{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tarj {
    padding-left: 600px;
    background-color: black;
}
.card{
  width: 364px;
  height: 83px;
  border-radius: 30px;
  padding-top: 40px;
}
.sec{
  padding-right: 300px;
  color: var(--platform-aliases-texto-base, #C4C4CC);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 160%; /* 25.6px */
}
.sec2{
  padding-left: 0px;
}
.head{
  display: flex;
  margin: 0%;
  color: aliceblue;
}
.inf {
  padding-right: 320px;
  margin: 0%;
  color: #C4C4CC;
  text-decoration: none;
  font-size: 8px;
}
.Ejer {
  background-color:#29292E;
  display: flex;
  border-radius: 8px;
}
.icon{
  display: flex;
  padding-left: 100px;
  padding-top: 30px;
}
.imag{
  padding-left: 10px;
  padding-top: 20px;
}